.container {
    max-width: 60%;
    margin-top: 50px;
}

.startScreen {
    text-align: center;
}

#startBtn {
    margin: auto;
}

#score {
    float: right;
    margin-right: 7%;
    font-weight: bold;
}

button {
    background-color: purple;
    color: white;
    border-radius: 10px;
    display: flex;
    margin-top: 5px;

}

#ifCorrect {
    margin-left: 21%;
    margin-right: 33%;
    margin-top: 1.5%;
}

#highScores {
    max-width: 60%;
    margin: auto;
}

li {
    padding: 5px;
    margin-top: 10px;
    background-color: rgba(133, 2, 133, 0.2);
}

.hScore {
    margin: auto;
}